<div class="wishlist-card">


  <div class="d-flex" style="gap: 20px; height: 120px">
    <!-- Course Image -->
    <img class="course-image" [src]="cardData.imageUrl">

    <!-- Course Info -->
    <div class="course-info">
      <div class="course-rating">
        <img src="assets/course_icons/star.png" alt="Star">
        <p>{{ cardData.rating }} <span>({{ cardData.reviewCount |  numberFormat }} Reviews)</span></p>
      </div>

      <p class="course-title">{{ cardData.title }}</p>

      <div class="course-instructors">
        <span>Course by:</span>
        <span id="instructor-name">
        {{ cardData.instructor }}
        </span>
      </div>

    </div>
  </div>


  <!-- Course Pricing -->
  <div class="course-pricing">
    <p class="price">{{ cardData.price| priceFormat }}</p>
    @if (cardData.oldPrice) {
      <p class="old-price">{{ cardData.oldPrice | priceFormat }}</p>
    }
  </div>

  <!-- Actions -->
  <div class="actions">
    <button class="buy-now">Buy Now</button>
    <button class="add-to-cart">Add To Cart</button>
    <button class="wishlist-btn">
      <img src="assets/user-page-assets/heart-icon.png" alt="Wishlist">
    </button>
  </div>
</div>
