# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/The-Platform-frontend/dist
/The-Platform-frontend/tmp
/The-Platform-frontend/out-tsc
/The-Platform-frontend/bazel-out

# Node
/node_modules/*
/The-Platform-backend/node_modules
/The-Platform-frontend/node_modules
/The-Platform-backend/npm-debug.log
/The-Platform-frontend/npm-debug.log
/The-Platform-backend/yarn-error.log
/The-Platform-frontend/yarn-error.log


 
# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
/The-Platform-backend/.vscode
/The-Platform-frontend/.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/The-Platform-backend/.history
/The-Platform-frontend/.history
.history/*

# Miscellaneous
.angular
/The-Platform-frontend/.angular
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
/The-Platform-backend/.DS_Store
/The-Platform-frontend/.DS_Store
/The-Platform-backend/Thumbs.db
/The-Platform-frontend/Thumbs.db


