<div class="hovering-course-card">

    <div class="card-content">
        <div class="course-info">
            <div class="category-title">
                <span class="category">DEVELOPMENTS</span>
                <span class="title">2021 Complete Python Bootcamp From Zero to Hero in Python</span>
            </div>

            <div class="course-by">
                <div class="instructor">
                    <img src="../../../assets/instructor-asset/instructor1.png">
                    <div class="instructor-name">
                        <span id="course-by">Course by</span>
                        <span id="name">Kevin Gilbert</span>
                    </div>
                </div>

                <div class="rating">

                    <img src="../../../assets/course_icons/star.png">
                    <span id="rating-value">5.0</span>
                    <span id="students-rated">(357,914)</span>
                </div>
            </div>
        </div>

        <div class="course-details">
            <div class="students">
                <img src="../../../assets/course_icons/user-icon.png" style="height: 20px; width: 20px;">
                <div>
                    <span id="students-enrolled">265.7K </span>
                    <span id="student-text">students</span>
                </div>
            </div>
            <div class="course-difficulty">
                <img src="../../../assets/course_icons/bar-chart.png" style="height: 20px; width: 20px;">
                <span id="level">Beginner</span>
            </div>
            <div class="course-duration">
                <img src="../../../assets/course_icons/clock.png" style="height: 20px; width: 20px;">
                <span id="hours">6 hour</span>
            </div>
        </div>

        <div class="price-info">
            <div class="prices d-flex align-items-center">

                <div class="d-flex gap-1 align-items-center">

                    <span id="price">$14.00</span>
                    <span id="old-price">$26.00</span>

                </div>

                <div class="sale d-flex justify-content-center align-items-center">
                    <span class="off value">56%</span>
                    <span class="off">OFF</span>
                </div>

            </div>
            <div class="heart d-flex justify-content-center align-items-center" style="background-color: #F7FBDE;">
                <img src="../../../assets/course_icons/heart.png" style="height: 24px; width: 24px;">
            </div>
        </div>


        <div class="devider"></div>

        <div class="what-you-learn">
            <span id="what-you-learn">WHAT YOU'LL LEARN</span>
            <div class="learn-item">
                <img src="../../../assets/course_icons/check-icon.png" alt="Check">
                <span id="learn-item-text">Learn to use Python professionally, learning both Python 2 and Python
                    3!</span>
            </div>
            <div class="learn-item">
                <img src="../../../assets/course_icons/check-icon.png" alt="Check">
                <span id="learn-item-text">Create games with Python, like Tic Tac Toe and Blackjack!</span>
            </div>
            <div class="learn-item">
                <img src="../../../assets/course_icons/check-icon.png" alt="Check">
                <span id="learn-item-text">Create games with Python, like Tic Tac Toe and Blackjack!</span>
            </div>
        </div>

        <div class="devider"></div>

        <div class="buttons">
            <button class="add-to-cart">
                <img src="../../../assets/course_icons/cart-icon.png" alt="Cart Icon">
                Add To Cart
            </button>
            <button class="course-detail">Course Detail</button>
        </div>
    </div>
</div>