<div class="course-list-page d-flex flex-column align-items-center" style=" width: 100%; padding-top: 40px; gap: 40px;">

    <div class="top-action" style="background-color: white; max-width: 1320px;">
        <div class="frame-242">
            <div class="cta">
                <button class="filter-btn" [ngClass]="{'filter-active':isFilterActive}" (click)="filterToggle()">
                    @if (isFilterActive) {
                    <img src="../../../assets/filter-bar/filter-active.png" style="width: 24px; height: 24px;"
                        alt="Filter">
                    }@else {
                    <img src="../../../assets/filter-bar/filter-icon.png" style="width: 24px; height: 24px;"
                        alt="Filter">

                    }
                    Filter <span class="filter-count"
                        [ngClass]="{'filter-count-active':isFilterActive}">{{filters.selectedBoxes}}</span>
                </button>
                <div class="search-container">
                    <img src="../../../assets/filter-bar/search-icon.png" style="width: 24px; height: 24px;"
                        alt="Search">
                    <input type="text" placeholder="Search in courses...">
                </div>
            </div>
            <div class="sort-by">
                <span>Sort by:</span>
                <div class="dropdown-container" [class.active]="isDropdownOpen">
                    <div class="dropdown-menu-category" (click)="toggleDropdown()">
                        <span class="dropdown-text">Trending</span>
                        <img class="dropdown-icon" src="../../../assets/navbar-icons/caret-icon.png"
                            alt="Dropdown Icon">
                    </div>

                    @if (isDropdownOpen) {
                    <ul class="dropdown-options">
                        <li class="dropdown-option">Trending</li>
                        <li class="dropdown-option">Latest</li>
                        <li class="dropdown-option">popular</li>
                    </ul>
                    }

                </div>
            </div>
        </div>

        <div class="filter-second-line">
            <div class="suggestions">
                <span>Suggestion:</span>
                <a href="#">user interface</a>
                <a href="#">user experience</a>
                <a href="#">web design</a>
                <a href="#">interface</a>
                <a href="#">app</a>
            </div>
            <div class="result-count">
                <span>3,145,684 </span>
                <span class="results-found">results find for “ui/ux design”</span>
            </div>
        </div>
    </div>



    <div class="page-content d-flex">

        @if (isFilterActive) {
        <div class="filter-bar">
            <app-filter-bar [(filters)]="filters"></app-filter-bar>
        </div>
        }

        <div class="d-flex flex-column justify-content-center align-items-center" style="gap: 40PX;">
            <div class="courses-container d-flex flex-wrap" style="gap: 24px; max-width: 1320px; ">


                @for (course of courses; track $index) {

                    <app-course-card (mouseenter)="mouseEnterCourseCard($event)"
                    (mouseleave)="mouseLeaveCourseCard()" [cardData]="course"></app-course-card>
                }


            </div>


            <app-pagination-bar></app-pagination-bar>

        </div>
    </div>

</div>

@if (hoveringService.isHovering) {
<app-hovering-course-card (mouseenter)="mouseEnterHoveringCard()" (mouseleave)="mouseLeaveHoveringCard()"
    [style.top.px]="hoveringService.position.y" [style.left.px]="hoveringService.position.x"></app-hovering-course-card>
}
