
<footer class="footer">
    <div class="footer-container">
        <div class="footer-top">
            <div class="footer-logo">
                <img src="../../../assets/footer-assets/footer-logo.png" alt="Logo">
                <p>Our mission is to help people to find the best course online and learn with expert anytime, anywhere.</p>
                <div class="social-icons">
                    <a href="#"><img src="../../../assets/footer-assets/facebook-logo.png" alt="Facebook"></a>
                    <a href="#"><img src="../../../assets/footer-assets/insta-logo.png" alt="Instagram"></a>
                    <a href="#"><img src="../../../assets/footer-assets/linkedin-logo.png" alt="LinkedIn"></a>
                    <a href="#"><img src="../../../assets/footer-assets/twitter-logo.png" alt="Twitter"></a>
                    <a href="#"><img src="../../../assets/footer-assets/youtube-logo.png" alt="YouTube"></a>
                </div>
            </div>

            <div class="footer-links">
                <div class="category">
                    <h4>TOP 4 CATEGORY</h4>
                    <ul>
                        <li><a href="#"><span>Development</span></a></li>
                        <li><a href="#"><span>Finance & Accounting</span></a></li>
                        <li><a href="#"><span>Design</span></a></li>
                        <li><a href="#"><span>Business</span></a></li>
                    </ul>
                </div>
                
                <div class="quick-links">
                    <h4>QUICK LINKS</h4>
                    <ul>
                        <li><a href="#"><span>About</span></a></li>
                        <li><a href="#"><span>Become Instructor</span></a></li>
                        <li><a href="#"><span>Contact</span></a></li>
                        <li><a href="#"><span>Career</span></a></li>
                    </ul>
                </div>
                
                <div class="support">
                    <h4>SUPPORT</h4>
                    <ul>
                        <li><a href="#"><span>Help Center</span></a></li>
                        <li><a href="#"><span>FAQs</span></a></li>
                        <li><a href="#"><span>Terms & Condition</span></a></li>
                        <li><a href="#"><span>Privacy Policy</span></a></li>
                    </ul>
                </div>
                

                <div class="download-app">
                    <h4>DOWNLOAD OUR APP</h4>
                    <a href="#"><img src="../../../assets/footer-assets/app-store.png" alt="App Store"></a>
                    <a href="#"><img src="../../../assets/footer-assets/play-store.png" alt="Play Store"></a>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <p>© 2025 - The Platform. Designed by <a href="#">NTI Institute</a>. All rights reserved</p>
            <select>
                <option>English</option>
                <option>Spanish</option>
                <option>French</option>
            </select>
        </div>
    </div>
</footer>
