/* General Styles */
body {
    font-family: 'Inter', sans-serif;
   
}
.content {
    width: 872px;
    padding-bottom: 20px;
    gap: 24px;
    padding-top: 50px;
}
.breadcrumb-container {
    font-size: 14px;
    color: #6E7485;
}

/* Heading */
.heading h1 {
    font-size: 32px;
    color: #1D2026;
    line-height: 40px;
}

.heading p {
    font-size: 20px;
    color: #4E5566;
    line-height: 32px;
}

/* Created By */ 
 .created-by {
    margin-left: 90px;
}
.avatar {
    display: flex;
    align-items: center;
    position: relative;
}

.avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
}

.avatar img:last-child {
    left: 30px;
}

.content {
    display: flex;
    flex-direction: column;
}

.content p {
    font-size: 14px;
    color: #6E7485;
}

.author-names {
    display: flex;
    gap: 6px;
    font-size: 16px;
    font-weight: 500;
    color: #1D2026;
}

.dot {
    font-size: 16px;
}

/* Rating */
.rating {
    display: flex;
    align-items: center;
    gap: 8px;
}

.stars {
    font-size: 20px;
    color: #FD8E1F;
}
.active-btn {
    color: black;
    font-weight: 600;
    opacity: 1;
}
.allTabs[data-v-6f8fa183] {
    margin-right: 0 !important;
}
/* =============tabs================ */
.tab-container {
    border-bottom: 1px solid #E9EAF0;
}

/* Individual Tabs */
.nav-tabs .nav-link {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #4E5566;
    text-align: center;
    width: 200px;
    padding-bottom: 20px;
    border: none;
    background: none;
}

/* Active Tab */
.nav-tabs .nav-link.active {
    color: #1D2026;
    box-shadow: inset 0px -2px 0px #FF6636;
}

/* Hover Effect */
.nav-tabs .nav-link:hover {
    color: #1D2026;
}
.nav-tabs .nav-link:active{
    box-shadow: inset 0px -2px 0px #FF6636;
}
/* ==============sections============= */
.overview h4{
    font-size: 24px;
    color: #1D2026 ;

}

.overview p{
    font-size: 14px;
    color: #4E5566 ;

}
.learn{
    background-color: #E1F7E3;
}
ol{
    list-style:disc;;
}   
ol li {
    font-size: 14px;
    color: #6E7485;
    line-height: 35px;
}
/* acordion */

.gray-color{
    color: #4E5566;
}
.gray-color2{
    color: #8C94A3;
}
  .btn-stars{
    padding: 10px 20px;
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    color:#4E5566;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.browse-all-courses {
    background: #F7FBDE;
    color: #35AACD;
    padding: 12px 24px;
    /* border-radius: 15px; */
    border: none;
    letter-spacing: -0.8%;
    font-weight: 600;
    font-size: 16px;
    line-height: 48px;
    cursor: pointer;
    width: 224px;
    height: 48px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
.browse-all-courses-link {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 48px;
    letter-spacing: -0.8%;
    color: #35AACD;
    text-decoration: none;
    display: flex;
    transition: color 0.3s ease;
  }
  .browse-all-courses:hover {
    background-color: #d3ee3f;
  }
  
 

