<div>

    <div class="container-fluid">
        <div class="row" style="background-color: #fcce61c6; ;">
            <div class="col-lg-2"></div>
            <div class="col-lg-9">
                <!-- ==============upper yellow swction===================== -->
                <div class="content">

                    <div class="breadcrumb-container d-flex align-items-center gap-2">
                        <span class="breadcrumb-item">Home</span>
                        <img src="../../../assets/course-details/svg/ChevronRight.svg" alt="">
                        <span class="breadcrumb-item">Development</span>
                        <img src="../../../assets/course-details/svg/ChevronRight.svg" alt="">
                        <span class="breadcrumb-item">Web Development</span>
                        <img src="../../../assets/course-details/svg/ChevronRight.svg" alt="">
                        <span class="breadcrumb-item">Webflow</span>
                    </div>

                    <!-- Heading -->
                    <div class="heading ">
                        <h1 class="fw-semibold ">{{courseData.courseTitle}}</h1>
                        <p>{{courseData.courseBrief}}
                        </p>
                    </div>

                    <!-- Course Info -->
                    <div class="course-info d-flex justify-content-between align-items-center">
                        <!-- Created By Section -->
                        <div class=" d-flex justify-content-between align-items-center">
                            <div class="avatar">
                                @for (creator of courseData.creators; track $index) {
                                <img [src]="creator.instrImg" alt="Avatar">
                                }
                            </div>
                            <div class="created-by">
                                <p class="mb-0">Created by:</p>
                                <div class="author-names d-flex align-items-center">
                                    @for (creator of courseData.creators; track $index) {
                                    <span>{{creator.instName}}</span>
                                    @if ($index < courseData.creators.length-1) { <span class="dot">•</span>
                                        }
                                        }
                                </div>
                            </div>
                        </div>
                        <!-- Rating -->
                        <div class="rating d-flex align-items-center">
                            <div class="stars">
                                <img src="../../../assets/course-details/Frame 258.png" alt="">
                            </div>
                            <div class="rating-text d-flex align-items-center gap-2">
                                <span class="fw-semibold"
                                    style="color: 1D2026; font-size: 16px;">{{courseData.courseRating.overaRating}}</span>
                                <span style="color: #6E7485; font-size: 14px;">({{courseData.courseRating.reviewersCount
                                    | numberFormat }} Ratings)</span>
                            </div>
                        </div>



                    </div>

                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <!-- ==============vedio & btns===================== -->
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-6">
                <img class="mt-3" src="../../../assets/course-details/Trailer.png" alt="">
                <!-- ======tabs===== -->
                <div class="allTabs mt-4">
                    <ul class="nav nav-tabs tab-container d-flex justify-content-start align-items-center">
                        <li class="nav-item" *ngFor="let tab of tabs">
                            <button class="nav-link" [ngClass]="{'active': activeTab === tab.id}"
                                (click)="setActiveTab(tab.id)">
                                {{ tab.name }}
                            </button>
                        </li>
                    </ul>
                </div>
                <!-- =======================sections=================== -->
                <!-- =======================overview section===================-->
                <div class="overview my-4" id="overview">
                    <h4 class="fw-semibold">Description</h4>
                    <p [innerHTML]="courseData.description"></p>
                    <!-- whar will learn -->
                    <div class="learn p-4">
                        <h4 class="fw-semibold mb-4">What you will learn in this course</h4>
                        <div class="row">

                            <div class="col-lg-6">
                                @for (item of courseData.learningItems; track $index) {

                                @if ($index < courseData.learningItems.length/2 ) { <div
                                    class="d-flex justify-content-center align-items-start gap-2">
                                    <img src="../../../assets/course-details/svg/CheckCircle.svg" alt="">
                                    <p>{{item}}</p>
                            </div>
                            }
                            }
                        </div>

                        <div class="col-lg-6">
                            @for (item of courseData.learningItems; track $index) {

                            @if ($index >= courseData.learningItems.length/2 ) {
                            <div class="d-flex justify-content-center align-items-start gap-2">
                                <img src="../../../assets/course-details/svg/CheckCircle.svg" alt="">
                                <p>{{item}}</p>
                            </div>
                            }
                            }
                        </div>
                    </div>
                </div>

                <!-- who course foe -->
                <div class="course-for my-4">
                    <h4 class="fw-semibold mb-4">Who this course is for:</h4>
                    @for (target of courseData.targetAudience; track $index) {
                    <div class="d-flex align-items-start gap-2">
                        <img src="../../../assets/course-details/svg/ArrowRight.svg" alt="">
                        <p>{{target}}</p>
                    </div>
                    }
                </div>
                <!-- course requirment -->
                <div class="requre">
                    <h4 class="fw-semibold mb-4">Course requirements</h4>
                    <ol>
                        @for (item of courseData.courseRequirements; track $index) {
                        <li>{{item}}</li>
                        }
                    </ol>
                </div>
            </div>
            <!-- =====================Curriculum section===================-->
            <div class="Curriculum my-4" id="curriculum">

                <div class=" mb-3 d-flex justify-content-between align-items-center curriculum-header">

                    <h4 class="fw-semibold">Curriculum</h4>

                    <!-- Fun Fact Section -->
                    <div class="d-flex align-items-center funfact gap-4">
                        <!-- Sections -->
                        <div class="d-flex align-items-center funfact-item gap-2">
                            <img src="../../../assets/course-details/svg/FolderNotchOpen.svg" style="width: 20px; height: 20px;" class="icon">
                            <span class="gray-color curriculum-text">{{courseData.curriculum.modulesCount}} Sections</span>
                        </div>

                        <!-- Lectures -->
                        <div class="d-flex align-items-center funfact-item gap-2">
                            <img src="../../../assets/course-details/svg/PlayCircle.svg" style="width: 20px; height: 20px;" class="icon">
                            <span class="gray-color curriculum-text">{{courseData.curriculum.totalLecturesCount}} Lectures</span>
                        </div>

                        <!-- Duration -->
                        <div class="d-flex align-items-center funfact-item gap-2">
                            <img src="../../../assets/course-details/svg/Clock.svg" style="width: 20px; height: 20px;" class="icon">
                            <span class="gray-color curriculum-text">{{courseData.curriculum.totalCourseTime.hours}}h {{courseData.curriculum.totalCourseTime.minutes}}m</span>
                        </div>
                    </div>
                </div>
                <!-- accordion -->

                <div class="accordion" id="accordionExample">
                    @for (module of courseData.curriculum.modules; track $index) {

                        <div class="accordion-item">
                            <h2 class="accordion-header d-flex justify-content-between align-items-center" id="headingOne">
                                <button class="accordion-button" type="button"  (click)="toggleModule($index)">
                                    {{module.moduleTitle}}
                                </button>
                                <div class="d-flex justify-content-between align-items-center" style="gap: 16px; margin-right: 20px;">
                                    <div class="d-flex" style="gap: 6px;">
                                        <img src="../../../assets/course-details/svg/PlayCircle.svg" style="width: 20px; height: 20px;" class="icon">
                                        <span class="gray-color curriculum-text">{{module.lecturesCount}} lectures</span>
                                    </div>
                                    <div class="d-flex" style="gap: 6px;">
                                        <img src="../../../assets/course-details/svg/Clock.svg" style="width: 20px; height: 20px;" class="icon">
                                        <span class="gray-color curriculum-text">{{module.moduleTime.hours}}h {{module.moduleTime.minutes}}m</span>

                                    </div>
                                </div>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" [ngClass]="{ 'show': openModules[$index] }" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    @for (lec of module.lectures; track $index) {
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center gap-2">

                                            <img [src]="lec.lectureType == 'watchable'? watchableIcon:readableIcon" alt="">
                                            <p class="m-0">{{lec.lectureTitle}}</p>
                                        </div>
                                        <div>
                                            <p class="gray-color2">{{lec.lectureTime.hours}}h {{lec.lectureTime.minutes}}m</p>
                                        </div>
                                    </div>
                                    }
    
                                </div>
                            </div>
                        </div>
                    }


                </div>
            </div>

            <!-- ================ Instructor section =============== -->
            <div class="Instructor " id="instructor">
                <h4 class="fw-semibold">Course instructor ({{courseData.creators.length}})</h4>
            </div>
            <div class="Review" id="review"></div>

            <!-- ===================Course instructor================== -->

            @for (creator of courseData.creators; track $index) {
                <app-course-instructor-card [instrCardData]="creator"></app-course-instructor-card>
            }
            <!-- ==================Course Reting================= -->
            <app-course-rating [courseRating]="courseData.courseRating"></app-course-rating>
            <!-- ==================feed back================= -->
            <div class="d-flex justify-content-between align-items-center my-4">
                <h4 class="fw-semibold">Students Feedback</h4>

                <div class="dropdown">
                    <button class=" dropdown-toggle btn-stars" type="button" data-bs-toggle="dropdown">
                        5 Star Rating
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">All Ratings</a></li>
                        <li><a class="dropdown-item" href="#">5 Star Rating</a></li>
                        <li><a class="dropdown-item" href="#">4 Star Rating</a></li>
                        <li><a class="dropdown-item" href="#">3 Star Rating</a></li>
                    </ul>
                </div>

            </div>
            @for (review of courseData.studentsReviews; track $index) {
                <app-student-review [review]="review"></app-student-review>
                <div class="divider"></div>
            }
            <button class="btn browse-all-courses"><a href="#" class="browse-all-courses-link">Load More
                    <img src="../../../assets/course-details/svg/Spinner.svg" alt=""></a></button>
            <!-- ===================================== -->
        </div>

        <div class="col-lg-5 "></div>
        <!-- ==================Related Courses================= -->
        <div class="row border-top " style="margin-top: 100px;">

            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="d-flex justify-content-between align-items-center my-4 pt-4">
                    <h4 class="fw-semibold">Related Courses</h4>
                    <button class="btn browse-all-courses"><a href="#" class="browse-all-courses-link">View All
                            →</a></button>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row">

            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="container-fluid mx-auto my-4 mt-5 ">
                    <div class="row d-flex justify-content-center align-items-center " style="gap: 25px; margin-bottom: 80px;">

                        <div class="col-lg-2 col-md-4 col-sm-6">
                            <app-regular-course-card></app-regular-course-card>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6">
                            <app-regular-course-card></app-regular-course-card>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6">
                            <app-regular-course-card></app-regular-course-card>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6">
                            <app-regular-course-card></app-regular-course-card>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6">
                            <app-regular-course-card></app-regular-course-card>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-1"></div>

        </div>








    </div>
</div>
</div>