<div class="component">
    <div class="course-card">
        <div class="course-image">
            <img [src]="cardData.imageUrl" alt="Course Thumbnail">
        </div>
        <div class="course-content">
            <div class="header">
                <div class="category-badge" [ngStyle]="{ 'background': bgColor, 'color': textColor}">{{cardData.category}}</div>
                <div class="price">
                    <span class="current-price">{{cardData.price | priceFormat}}</span>
                    <span class="old-price">{{cardData.oldPrice | priceFormat}}</span>
                </div>
            </div>
            <h2 class="course-title">{{cardData.title}}</h2>
            <div class="instructor">
                <div class="instructor-info">
                    <img [src]="cardData.instructorImageUrl" alt="Instructor">
                    <span class="instructor-name">{{cardData.instructor}}</span>
                </div>
                <div class="rating">
                    <img [src]="iconsUrls.star" alt="Star">
                    <span class="rate-value">{{cardData.rating | ratingFormat}}</span>
                    <span class="raters-count">({{cardData.reviewCount | numberFormat}})</span>
                </div>
            </div>
            <hr>
            <div class="course-info">
                <div class="students">
                    <img [src]="iconsUrls.user" alt="Students">
                    <span id="students-count">{{cardData.enrolledStudents | kNotationFormat}}</span>
                    <span id="student-text">students</span>
                </div>
                <div class="difficulty">
                    <img [src]="iconsUrls.level" alt="Difficulty">
                    <span>{{cardData.difficultyLevel}}</span>
                </div>
                <div class="duration">
                    <img [src]="iconsUrls.clock" alt="Duration">
                    <span>{{cardData.duration}} hour</span>
                </div>
            </div>
        </div>
    </div>
</div>