


<div class="feedback-container p-4 border-bottom rounded bg-white shadow-sm mb-4">
    <div class="d-flex justify-content-between align-items-center">
     
    </div>
  
    <div class="feedback-item mt-4 d-flex">
      <img src="../../../assets/course-details/feedback.png" alt="User Avatar" class="user-avatar">
      <div class="ms-3">
        <h6 class="mb-1 fw-bold">Guy Hawkins <span class="text-muted small">• 1 week ago</span></h6>
        <div class="stars">
          <span *ngFor="let star of fullStars">&#9733;</span>
        </div>
        <p class="mt-2 text-muted">
          I appreciate the precise short videos (10 mins or less each) because overly long videos tend
          to make me lose focus. The instructor is very knowledgeable in Web Design and it shows as he
          shares his knowledge. These were my best 6 months of training. Thanks, Vako.
        </p>
      </div>
    </div>
  </div>
  
