.custom-accordion {
    max-width: 800px;
    /* margin: 2rem auto; */
    --bs-accordion-btn-bg: #ffffff;
    --bs-accordion-active-bg: #f8f9fa;
    --bs-accordion-active-color: #0d6efd;
    --bs-accordion-btn-focus-border-color: #e9ecef;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.1);
}

.accordion-button {
    padding: 1.25rem;
    font-weight: 500;
    transition: all 0.3s ease;
    color: #35AACD;
    background-color: white;
}

.accordion-button:not(.collapsed) {
    box-shadow: none;
}

.accordion-body {
    padding: 1.5rem;
    line-height: 1.6;
    color: #6c757d;
}

.accordion-item {
    overflow: hidden;
}

.accordion-button::after {
    transition: transform 0.3s ease;
}
.accordion-button::after {
    display: none; /* Hide default Bootstrap icon */
  }
  .gray-color{
    color: #4E5566;
}
.gray-color2{
    color: #8C94A3;
}